.btn {
    opacity: 1;
    transition: all 0.3s ease;
    &:hover {
        opacity: 0.5;
    }
}
.info {
    &__user {
        display: flex;
        align-items: center;
    }
    &__user-avatar {
        img {
            width: 36px;
            height: 36px;
            border-radius: 100%;
            border: 2px solid #fff;
        }
    }
    &__user-name {
        margin-left: 10px;
        a {
            text-decoration: none;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
        }
    }
}
