@media screen and (max-width: 1123px) {
    // assets 
    .btn__outline {
        font-size: 12px;
    }
    // assets end
    .body__transactions-search form {
        padding: 10px;
    }
    .body__balance-item h1 {
        font-size: 14px;
    }
    .body__balance-item h3 {
        font-size: 20px;
    }
    .navbar {
        left: -120%;
    }
}