@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
// обнуление css
@import "_assets";
@import "_mobile";
@import "_root";
@import "_animate";
@import "_preloader";
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.11111s ease;
}

ul[class],
ol[class] {
    padding: 0;
    margin: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    font-family: "Inter", sans-serif;
    position: relative;
    &::-webkit-scrollbar {
        width: 14px;
        background-color: #e2e8f0;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #f8fafc;
    }
}

ul[class],
ol[class] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}
a,
button {
    cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.03ms !important;
        animation-iteration-count: 3 !important;
        transition-duration: 0.03ms !important;
        scroll-behavior: auto !important;
    }
}
.wrapper {
    display: flex;
}
// navbar
.navbar {
    z-index: 8000;
    &__wrapper {
        overflow-y: scroll;
        max-width: 350px;
        min-height: 100%;
        width: 320px;
        height: 100%;
        padding: 0 20px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: $dark__blue;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: stretch;
        &::-webkit-scrollbar {
            width: 7px;
            background-color: #fff;
        }
        &::-webkit-scrollbar-thumb {
            width: 5px;
            background-color: #fff;
        }
    }
    &__head,
    &__footer {
        flex: 0 1 auto;
    }
    // navbar__head
    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 15px 0;
    }
    &__logo {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        img {
            margin-right: 10px;
        }
        h1 {
            font-size: 24px;
            font-weight: 400;
            font-style: italic;
            color: #fff;
            text-transform: uppercase;
        }
    }
    &__burger {
        button {
            border: 0;
            outline: 0;
            background-color: $violet;
            border-radius: 100%;
            padding: 10px;
            img {
                width: 22px;
                height: 22px;
            }
        }
    }
    // navbar__body
    &__body {
        margin: 30px 0;
        flex: 1 1 auto;
        nav {
            ul {
                display: flex;
                flex-direction: column;
                a {
                    text-decoration: none;
                    color: $gray;
                    &:hover {
                        color: #fff;
                    }
                    li {
                        list-style: none;
                        display: flex;
                        align-items: center;
                        margin: 5px 0;
                        padding: 5px 0;
                        border-radius: 4px;
                        opacity: 0.8;
                        &:hover {
                            background-color: $dark__violet;
                            opacity: 1;
                        }
                        img {
                            width: 32px;
                            height: 32px;
                        }
                    }
                }
            }
        }
    }
    // navbar__footer user
    &__footer {
        margin: 30px auto;
        width: 100%;
    }
    &__footer,
    &__body {
        margin: 10px 0;
    }
    &__user {
        padding: 10px 0;
        border-top: 2px solid $light__blue;
        width: 100%;
    }
    .btn__second {
        display: none;
    }
}
// body main
.body {
    padding: 30px;
    margin-left: 320px;
    &__head-account {
        background-color: $dark__blue;
        border-radius: 18px;
        margin: 0 10px;
        transition: all 0.3s ease;
        &:hover {
            opacity: 0.7;
        }
    }

    &__head {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &__head-support {
        display: flex;
        justify-content: space-between;
        width: 100%;
        a {
            margin: 0 0 0 10px;
            width: 100%;
            text-decoration: none;
            &:first-child {
                margin-left: 0;
            }
        }
    }
    &__user {
        display: flex;
        align-items: center;
        padding: 10px;
    }
    &__user-avatar {
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__user-name {
        a {
            font-size: 16px;
        }
    }
    &__balance {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
    }
    &__balance-item {
        padding: 20px;
        margin: 0 0 0 10px;
        border: 2px solid $light__gray;
        border-radius: 18px;
        color: $light__blue;
        cursor: pointer;
        -webkit-animation: scale-up-ver-bottom 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
        animation: scale-up-ver-bottom 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
        width: 100%;
        &:hover {
            background-color: $violet;
            border: 2px solid $violet;
            color: #fff;
        }
        &:first-child {
            margin: 0 0;
        }
        h1 {
            font-size: 16px;
            font-weight: 700;
        }
        h3 {
            font-weight: 400;
            font-size: 24px;
            display: flex;
            align-items: center;
            padding-top: 30px;
            img {
                width: 28px;
                height: 28px;
            }
        }
    }
    &__news {
        margin: 20px 0;
        marquee {
            border: 2px solid $light__gray;
            border-radius: 18px;
            padding: 20px;
        }
    }
    &__news-wrapper {
        display: flex;
        p {
            margin: 0 10px;
            color: #121212;
        }
    }
    &__transactions-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0;
    }
    &__transactions-title-item {
        h1 {
            font-size: 28px;
        }
    }
    &__transactions-search {
        form {
            display: flex;
            align-items: center;
            border: 2px solid $light__gray;
            border-radius: 18px;
            padding: 10px 20px;
            input {
                border-radius: 1000px;
                outline: none;
                padding: 10px 20px;
                border: 0px none;
            }
            button {
                border: 0px none;
                border-radius: 1000px;
                outline: 0px none;
                background-color: $violet;
                padding: 10px;
                margin-left: 10px;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
    &__table {
        padding: 20px 0;
    }
    &__table-list {
        table {
            width: 100%;
            border-collapse: collapse;
        }
        thead {
            tr {
                width: 100%;
                background-color: #f8fafc;
                border: 0px none;
                outline: 0px none;
                td {
                    font-size: 16px;
                    font-weight: 600;
                    padding: 10px;
                    border: 0px none;
                    outline: 0px none;
                    text-align: center;
                }
            }
        }
        tbody {
            padding: 10px 0;
            margin: 10px 0;
            tr {
                padding: 10px 0;
                margin: 10px 0;
                td {
                    text-align: center;
                    font-size: 16px;
                    padding: 20px 0;
                    .btn__outline {
                        padding: 10px 30px;
                    }
                }
            }
        }
    }
    &__balance-btc {
        border-radius: 100%;
    }
}
